.QL-page-container {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.QL-left-container {
	width: 10rem;
	height: 10rem;
	background-color: lightcoral;
}

.QL-right-container {
	width: 100%;
	background-color: lightblue;
}