@{
    ViewData["Title"] = "NVQL";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Manager/Index.css" asp-append-version="true" />
}

<div class="QL-page-container">
	<div class="QL-left-container">

	</div>
	<div class="QL-right-container">

	</div>
</div>