@model HQTCSDL.Models.ModificationViewModel
@{
	Layout = "_EmployerLayout";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Employer/Dashboard.css" />
	<link rel="stylesheet" href="~/css/Employer/Modification.css" />
}

@section Scripts {
	<script src="~/js/Employer/Dashboard.js" asp-append-version="true"></script>
	<script src="~/js/Employer/Modification.js" asp-append-version="true"></script>
}

<div id="tab-content-modification" class="p-10 text-left w-[100%]">
	<p class="text-3xl font-bold">Cài đặt chi nhánh <span class="branches_name"></span></p>
	<div class="field-price-modify mt-8">
		<p class="text-2xl font-bold">Điều chỉnh giá sân</p>
		<div class="fields-list">
			@foreach (DTO.LoaiSan field in Model.LoaiSanList) {
				@await Html.PartialAsync(partialViewName: "_GetFieldList", field)
			}
		</div>
	</div>

	<div class="service-price-modify mt-8">
		<p class="title">Điều chỉnh giá dịch vụ</p>
		<div class="services-list">
			@foreach (DTO.DichVu service in Model.DichVuList) {
				@await Html.PartialAsync(partialViewName: "_GetServicesList", service)
			}
		</div>
	</div>
  
	<div class="service-price-modify mt-8">
		<p class="text-2xl font-bold">Điều chỉnh giá tài sản</p>
	</div>
  
</div>