<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData[index: "Title"] - VietSport</title>
	<script type="importmap"></script>
	<script src="https://cdn.tailwindcss.com"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

	<link rel="stylesheet" href="~/HQTCSDL.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	
	@RenderSection("Styles", required: false)
</head>

<body>
	<header>
		<nav class="header-display">
			<a class="header-logo" asp-area="" asp-controller="Home" asp-action="Index">VietSport</a>
			
			<div class="nav-items">
				<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				<a class="nav-link" asp-area="" asp-controller="Employer" asp-action="Dashboard">NVQL</a>
			</div>

			<button class="flex items-center gap-2 px-4 py-2 text-blue-600 hover:bg-blue-50 rounded-lg transition-colors">
				<p class="text-xs font-bold border px-1"><i class="bi bi-arrow-return-left"></i></p>
				Đăng xuất
			</button>
		</nav>
	</header>

	<div class="container">
		<main role="main" class="">
			@RenderBody()
		</main>
	</div>

	<footer>
		<div class="">
			&copy; 2025 - HQTCSDL - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>