.employer-dsb {
	box-sizing: border-box;
	width: 100%;
}

.employer-dsb .content-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.employer-dsb .content-container .navigate-bar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	height: 85vh;

	.navigate-items {
		display: flex;
		flex-direction: column;
	}
}

.employer-dsb .tab-inactive {
	color: #777;
	font-weight: normal;
}

.employer-dsb .tab-active {
	color: blue;
	font-weight: bold;
}

.employer-dsb .title {
	font-weight: bold;
	font-size: 1.5rem;
}

.fields-list {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

/* _GetFieldList */
.field-info {
	padding: 30px;
	border: 1px solid #eee;
}